{% extends 'home.html' %}
    {% block content %}
    <div class="login">
        <form method="POST" enctype="multipart/form-data" target="_self" autocomplete="on">
            {% csrf_token %}
            <fieldset>
                <legend>Perfil</legend>
                <div class="form-content">
                    <label for="">Nome*:</label>
                    {{ form.name }}
                    <label for="">Photo:</label>
                    {{ form.photo }}
                </div>
                <div class="form-content">
                    <label for="">Gender*:</label>
                    {{ form.gender }}
                    <label for="">Date*:</label>
                    {{ form.date }}
                </div>
            </fieldset>
            <fieldset>
                <legend>Status</legend>
                <div class="content">
                    <div class="form-content">
                        <label for="">Profession*:</label>
                        {{ form.profession }}
                        <label for="">Ocupation*:</label>
                        {{ form.ocupation }}
                    </div>
                    <div class="form-content">
                        <label for="">Experience:</label>
                        {{ form.experience }}
                    </div>
                </div>
                <!-- <div class="form-content-tech">
                    <label for="">Technologies:</label>
                    {{ form.technologies }}
                </div> -->
            </fieldset>
            <fieldset>
                <legend>Dados</legend>
                <div class="form-content">
                    <label for="">CPF*:</label>
                    {{ form.cpf }}
                    <label for="">Phone*:</label>
                    {{ form.phone }}
                </div>
                <div class="form-content">
                    <label for="">Adress:</label>
                    {{ form.adress }}
                    <label for="">Region*:</label>
                    {{ form.locate }}
                </div>
            </fieldset>
            <fieldset>
                <legend>Links</legend>
                <div class="form-content-links">
                    <label for="">Email*:</label>
                    {{ form.email }}
                    <label for="">Github:</label>
                    {{ form.github }}
                    <label for="">Linkedin:</label>
                    {{ form.linkedin }}
                </div>
            </fieldset>
        
            <div class="form-buttons-end">
                <button type="submit">Save</button>
                <a href="{% url 'list' %}">Cancel</a>
            </div>
        </form>
    </div>

    {% endblock %}