{% extends 'register/home.html' %}
    {% block content %}
    <form method="POST" enctype="multipart/form-data" target="_self" autocomplete="on">
        {% csrf_token %}
        <fieldset>
            <legend>Perfil</legend>
            <label for="">Photo:</label>
            <input type="file" name="photo" id="">
            <label for="">Nome:</label>
            {{ form.name }}
            <label for="">Gender:</label>
            {{ form.gender }}
            <label for="">Date:</label>
            {{ form.date }}
        </fieldset>

        <fieldset>
            <legend>Status</legend>
            <label for="">Profession:</label>
            {{ form.profession }}
            <label for="">Ocupation:</label>
            {{ form.ocupation }}
            <label for="">Technologies:</label>
            {{ form.technologies }}
            <label for="">Experience:</label>
            {{ form.experience }}
        </fieldset>

        <fieldset>
            <legend>Dados</legend>
            <label for="">CPF:</label>
            {{ form.cpf }}
            <label for="">Phone:</label>
            {{ form.phone }}
            <label for="">Adress:</label>
            {{ form.adress }}
            <label for="">Region:</label>
            {{ form.locate }}
        </fieldset>

        <fieldset>
            <legend>Links</legend>
            <label for="">Email:</label>
            {{ form.email }}
            <label for="">Github:</label>
            {{ form.github }}
            <label for="">Linkedin:</label>
            {{ form.linkedin }}
        </fieldset>
        
        <button type="submit">Save</button>
        <button type="button"><a href="{% url 'list' %}">Cancelar</a></button>
    </form>

    {% endblock %}