{% extends 'register/home.html' %}
{% block content %}
<div class="container">
    
    <div class="img"><img src="{{user.photo}}" alt="imagem de {{user.name}}"> </div>
    
    <h3>{{user.name}}</h3>
    <div>
        <h3>Informações Pessoais</h3>
        <div>
            <div>
                <p>Birthyear: {{user.date}}</p>
                <p>CPF: {{user.cpf}}</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Contatos</h3>
        <div>
            <div>
                <p>Email: {{user.email}}</p>
                <p>Phone Number: {{user.phone}}</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Localidade</h3>
        <div>
            <p>Locate: {{user.locate}}</p>
            <p>Adress: {{user.adress}}</p>
        </div>
    </div>
</div>

{% endblock %}